#game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .row {
    display: flex;
    justify-content: center;
    
    /* add negative margin to overlap the previous row */
    margin-top: -25px;
  }
  
  /* remove negative margin from the first row */
  .row:first-child {
    margin-top: 0;
  }
  
  .card-container {
    width: 3.125rem; /* 50px / 16px = 3.125rem */
    height: 4.6875rem; /* 75px / 16px = 4.6875rem */
    border: 0.125rem solid black; /* 2px / 16px = 0.125rem */
    margin: 0 0.625rem; /* 10px / 16px = 0.625rem */
    position: relative;
    z-index: 1;
  }

  .card-container-uncovered {
    width: 3.125rem; /* 50px / 16px = 3.125rem */
    height: 4.6875rem; /* 75px / 16px = 4.6875rem */
    border: 0.125rem solid black; /* 2px / 16px = 0.125rem */
    margin: 0 0.625rem; /* 10px / 16px = 0.625rem */
    position: relative;
    z-index: 1;
  }

  .card-container.selected {
    width: 3.125rem; /* 50px / 16px = 3.125rem */
    height: 4.6875rem; /* 75px / 16px = 4.6875rem */
    border: 0.125rem solid red; /* 2px / 16px = 0.125rem */
    margin: 0 0.625rem; /* 10px / 16px = 0.625rem */
    position: relative;
    z-index: 1;
  }

  .card-container-uncovered.selected {
    width: 3.125rem; /* 50px / 16px = 3.125rem */
    height: 4.6875rem; /* 75px / 16px = 4.6875rem */
    border: 0.125rem solid red; /* 2px / 16px = 0.125rem */
    margin: 0 0.625rem; /* 10px / 16px = 0.625rem */
    position: relative;
    z-index: 1;
  }

  .bottom-row {
    display: flex;
    justify-content: center;
  }

  .deck-placeholder {
    width: 3.125rem; /* 50px / 16px = 3.125rem */
    height: 4.6875rem; /* 75px / 16px = 4.6875rem */
    border: 0.125rem dashed black; /* dashed border */
    margin-top: 10px;
    position: relative;
  }

  .discarded-cards-placeholder {
    width: 3.125rem; /* 50px / 16px = 3.125rem */
    height: 4.6875rem; /* 75px / 16px = 4.6875rem */
    border: 0.125rem dashed black; /* dashed border */
    margin-top: 10px;
    position: relative;
  }
  
  .deck-img {
    position: absolute; /* position the deck relative to the deck-placeholder */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;  
  }

  .card-img {
    position: absolute; /* position the deck relative to the deck-placeholder */
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;  
  }

  body {
    background-image: url('./Backgrounds/background.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

#start-button,
#instructions-button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Press Start 2P', cursive;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

#restart-button {
  display: none;
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Press Start 2P', cursive;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

#start-button:hover,
#instructions-button:hover,
#restart-button:hover {
  background-color: #333;
  color: #fff;
  transform: translateY(-2px);
}

#start-button:active,
#instructions-button:active,
#restart-button:hover {
  background-color: #666;
  color: #fff;
  transform: translateY(2px);
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.popup-content {
  background-color: #fff;
  padding: 20px;
  border: 2px solid #000;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-family: 'Press Start 2P', cursive;
  color: #000;
  text-align: center;
}

.popup-content h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.popup-content p {
  font-size: 12px;
  line-height: 1.5;
  margin-bottom: 20px;
}

#close-popup {
  font-family: 'Press Start 2P', cursive;
  font-size: 16px;
  background-color: #000;
  border: none;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
}

#close-popup:hover {
  background-color: #fff;
  color: #000;
}

#win-game-popup {
  position: fixed;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo img {
  width: 100px; /* Adjust the width as needed */
  height: 150px; /* Adjust the height as needed */
  margin-right: 10px; /* Add spacing between the card images */
}

#logo img:last-child {
  margin-right: 0; /* Remove the right margin from the last card image */
}
  
  
  
  
  
  
  